@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}
header {
  border-bottom: 1px solid #bbbbbb;
  line-height: 75%;
  margin-bottom: 30px;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-size: 40px;
  margin: 50px 0;
  font-weight: 800;
}

div.content {

}

section p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #555555;
  line-height: 150%;
  padding-left: 10px;
}

blockquote {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
  color: #555555;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  display: inline-block;
  background-color: #eee;
  margin: 20px 0px;
  /*border: 1px solid #bbbbbb;*/
}

.pagination a {
  display: inline-block;
  text-align: center;
  color: #222;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: underline;
  border: 1px solid #bbbbbb;
  /*margin: 0 0 0 -5px;*/
}

.pagination a.disabled {
  color: #ccc;
}

.pagination a.active {
  background: #666666;
  color: white;
  text-decoration: none;
}

.pagination ol, .pagination li {
  display: inline;
  padding: 0 0 0 0;
}
